* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    position: relative;
    height: 120px;
    width: 500px;
    background: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu ul {
    position: relative;
    display:flex;
}

.menu ul li {
    position: relative;
    list-style-type: none;
}

.menu ul li a {
    position: relative;
    height: 120px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu ul li a i {
    color: rgba(3, 255, 16, 0.747);
    font-size: 40px;
    position: absolute;

}

.activeIcon{
    opacity: 0;
    transition: all 0.7s ease;
    transition-delay: 0.2;
}

.menu ul li.active-list a i{
    opacity: 1;
}

.indicator {
    position: absolute;
    bottom: -19px;
    left: 34px;
    width: 25px;
    height: 36px;
    background: #191919;
    border-radius: 50%;
    transition:  all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.indicator::before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 50%;
    height: 22px;
    width: 20px;
    background: black;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 0 #191919;
}

.indicator::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 50%;
    height: 22px;
    width: 20px;
    background: black;
    border-bottom-left-radius: 20px;
    box-shadow: 0 10px 0 #191919;
}